<h1>
    hey this is the home page!!!
</h1>
<div><a href="/signup" >SIGN-UP</a></div><br>

<div><a href="/login">LOGIN</a></div><br>
<div><a href="/logout">LOGOUT</a></div><br>
<div>
    <a href="/secret">
        Lets Go To Secret Page!!!
    </a>
</div>