<h1>
    This is the secret page.
</h1>
<p>
    You found me after logging in.
</p>
<div>
<img src="https://wallpaperplay.com/walls/full/c/a/5/10475.jpg" style="width:50%;height: 50%;">
</div><br> <br> <hr>
<div>
    <a href="/home">HOME</a>
</div><br>
<div><a href="/signup" >SIGN-UP</a></div><br>

<div><a href="/login">LOGIN</a></div><br>
<div><a href="/logout">LOGOUT</a></div><br>
