<h1>
    Welcome to the Sign up page!!!!!
</h1>
<form action="/signup" method="POST">
<input type="text" name="username" placeholder="username" >
<input type="password" name="password" placeholder="password">
<button>
    submit
</button>
<div><a href="/signup" >SIGN-UP</a></div>

<div><a href="/login">LOGIN</a></div>
<div><a href="/logout">LOGOUT</a></div>
</form>